<!-- contentFor() digunakan untuk supaya bisa dipanggil value yang diisikan didalamnya ke bagian pecahan konten -->
<%- contentFor('content') %> 
<h1>Web server node js</h1>
<p>welcome to my contact page</p>

<!-- mengecek apakah ada data di variable cont -->
<% if (cont.length < 1) { %> <!-- jika data kurang dari 1 atau tidak ada data-->
    <p>data tidak ada</p> <!--tampilkan alert disamping-->
    <% } else { %> <!-- jika ada data-->
<table class="table w-75 text-danger">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">email</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <!-- lakukan perulangan data menggunakan foreach -->
            <% i = 0 %> 
            <% cont.forEach(cnt => { %>
                <tr>
                    <td><%= i+=1 %> </td>
                    <td><%= cnt.name %></td>
                    <td><%= cnt.mobile %></td>
                    <td><%= cnt.email %></td>
                    <td><a href="/contact/<%= cnt.name %>" class="text-decoration-none badge rounded-pill text-bg-danger">Detail</a></td>
                </tr>
            <% }) %>
        <% }%>
    </tr>
    </tbody>
</table>
<a href="/contact/add" class="btn btn-danger mb-3 w-75">Add new contact</a>